.resultCard {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 10px;
  border-radius: 10px;
  background: white;
}

.resultCard-result {
  width: 50%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  border-radius: 50%;
  color: black;
}
